<nav class="navbar">
  <div class="container">
    <div class="navbar__wrapper">
      <a class="navbar__logo" href="{{ url_for('index') }}">My Blog</a>
      <ul class="navbar__items">
        <li class="navbar__item"><a class="navbar__item-link" href="{{ url_for('index') }}">Home</a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="{{ url_for('about') }}">About</a></li>
          
        {% if session.username %}
        <li class="navbar__item navbar__item-link">{{ session.username }}
          <ul class="navbar__submenu-items">
            <li class="navbar__submenu-item"><a class="navbar__submenu-link" href="{{ url_for('my_blogs') }}">My Blogs</a></li>
            <li class="navbar__submenu-item"><a class="navbar__submenu-link" href="{{ url_for('write_blog') }}">New Blog</a></li>
            <li class="navbar__submenu-item"><a class="navbar__submenu-link" href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="navbar__item"><a class="navbar__item-link" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
