{% extends 'base.html' %}
{% block subcontent %}
<div class="content__myblogs-blog">
  <h1 class="content__title">About Me</h1>
  <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quae vitae ipsa voluptatum, fugiat eius officiis architecto dolor ipsam iure asperiores suscipit iusto ducimus minima aliquam omnis alias ut. Ipsa.</p>
  <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quae vitae ipsa voluptatum, fugiat eius officiis architecto dolor ipsam iure asperiores suscipit iusto ducimus minima aliquam omnis alias ut. Ipsa.</p>
  <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quae vitae ipsa voluptatum, fugiat eius officiis architecto dolor ipsam iure asperiores suscipit iusto ducimus minima aliquam omnis alias ut. Ipsa.</p>
</div>
{% endblock %}
